In [120]:
# You have rented some movies for your kids: The little mermaid (for 3 days), Brother Bear (for 5 days, 
# they love it), and Hercules (1 day, you don't know yet if they're going to like it). 
# If price for a movie per day is 3 dollars, how much will you have to pay?
brother_bear = 5
little_mermaid = 3
hercules = 1
daily_price = 3

In [121]:
# The output is how much you'll have to pay in $
(brother_bear + little_mermaid + hercules) * daily_price

27

Suppose you're working as a contractor for 3 companies: Google, Amazon and Facebook, they pay you a different rate per hour. Google pays 400 dollars per hour, Amazon 380, and Facebook 350. How much will you receive in payment for this week? You worked 10 hours for Facebook, 6 hours for Google and 4 hours for Amazon.

In [123]:
google = 400
g_hours = 6
amazon = 380
a_hours = 4
facebook = 350
f_hours = 10

(google * g_hours) + (amazon * a_hours) + (facebook * f_hours)

7420

A student can be enrolled to a class only if the class is not full and the class schedule does not conflict with her current schedule.

In [15]:
class_not_full = True
no_schedule_conflict = True

can_enroll = class_not_full and no_schedule_conflict

True

A product offer can be applied only if people buys more than 2 items, and the offer has not expired. Premium members do not need to buy a specific amount of products.

In [126]:
more_than_two = False
not_expired = True
offer_available = more_than_two and not_expired
premium_offer_available = not_expired

print(offer_available)
print(premium_offer_available)

False
True

In [50]:
username = 'codeup'
password = 'notastrongpassword'

pass_len = len(password) > 5
user_len = len(username) < 20
unique_pass = password != username
white_space = (username[:1] != ' ' and username[:-1] != ' ') and (password[:1] != ' ' and password[:-1] != ' ')
user_pass_check = pass_len and user_len and unique_pass and white_space
print(user_pass_check)

True

In [117]:
fruits = ['mango', 'kiwi', 'strawberry', 'guava', 'pineapple', 'mandarin orange']

numbers = [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 17, 19, 23, 256, -8, -4, -2, 5, -9]

Exercise 1 - rewrite the above example code using list comprehension syntax. Make a variable named uppercased_fruits to hold the output of the list comprehension. Output should be ['MANGO', 'KIWI', etc...]

In [52]:
uppercased_fruits = [fruit.upper() for fruit in fruits]
print(uppercased_fruits)

['MANGO', 'KIWI', 'STRAWBERRY', 'GUAVA', 'PINEAPPLE', 'MANDARIN ORANGE']

Exercise 2 - create a variable named capitalized_fruits and use list comprehension syntax to produce output like ['Mango', 'Kiwi', 'Strawberry', etc...]

In [178]:
capitalized_fruits = [fruit.capitalize() for fruit in fruits]
print(capitalized_fruits)

['Mango', 'Kiwi', 'Strawberry', 'Guava', 'Pineapple', 'Mandarin orange']

Exercise 3 - Use a list comprehension to make a variable named fruits_with_more_than_two_vowels. Hint: You'll need a way to check if something is a vowel.

In [87]:
def count_vowels(string):
    low_case = string.lower()
    count = 0
    for letter in low_case:
        if letter in ("a", "e", "i", "o", "u"):
            count = count + 1
    return count

In [88]:
fruits_with_more_than_two_vowels = [fruit for fruit in fruits if count_vowels(fruit) > 2]
print(fruits_with_more_than_two_vowels)

['guava', 'pineapple', 'mandarin orange']

Exercise 4 - make a variable named fruits_with_only_two_vowels. The result should be ['mango', 'kiwi', 'strawberry']

In [90]:
fruits_with_only_two_vowels = [fruit for fruit in fruits if count_vowels(fruit) == 2]
print(fruits_with_only_two_vowels)

['mango', 'kiwi', 'strawberry']

Exercise 5 - make a list that contains each fruit with more than 5 characters

In [71]:
more_than_five_letter_fruit = [fruit for fruit in fruits if len(fruit) > 5]
print(more_than_five_letter_fruit)

['strawberry', 'pineapple', 'mandarin orange']

Exercise 6 - make a list that contains each fruit with exactly 5 characters

In [96]:
five_letter_fruit = [fruit for fruit in fruits if len(fruit) == 5]
print(five_letter_fruit)

['mango', 'guava']

Exercise 7 - Make a list that contains fruits that have less than 5 characters

In [97]:
less_than_five_letter_fruit = [fruit for fruit in fruits if len(fruit) < 5]
print(less_than_five_letter_fruit)

['kiwi']

Make a list containing the number of characters in each fruit. Output would be [5, 4, 10, etc... ]

In [100]:
fruit_char_length = [len(fruit) for fruit in fruits]
print(fruit_char_length)

[5, 4, 10, 5, 9, 15]

Make a variable named fruits_with_letter_a that contains a list of only the fruits that contain the letter "a"Âµ

In [103]:
fruits_with_letter_a = [fruit for fruit in fruits if 'a' in fruit]
print(fruits_with_letter_a)

['mango', 'strawberry', 'guava', 'pineapple', 'mandarin orange']

Make a variable named even_numbers that holds only the even numbers

In [266]:
even_numbers = [number for number in numbers if number % 2 == 0]
print(even_numbers)

[2, 4, 6, 8, 10, 256, -8, -4, -2, -14]

Make a variable named odd_numbers that holds only the odd numbers

In [104]:
odd_numbers = [number for number in numbers if number % 2 == 1]
print(odd_numbers)

[3, 5, 7, 9, 11, 13, 17, 19, 23, 5, -9]

Make a variable named positive_numbers that holds only the positive numbers

In [105]:
positive_numbers = [number for number in numbers if number > 0]
print(positive_numbers)

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 17, 19, 23, 256, 5]

Exercise 13 - Make a variable named negative_numbers that holds only the negative numbers

In [106]:
negative_numbers = [number for number in numbers if number < 0]
negative_numbers

[-8, -4, -2, -9]

Exercise 14 - use a list comprehension w/ a conditional in order to produce a list of numbers with 2 or more numerals

In [118]:
double_digits = [number for number in numbers if len(str(abs(number))) > 1]
double_digits

[10, 11, 13, 17, 19, 23, 256, -14]

Exercise 15 - Make a variable named numbers_squared that contains the numbers list with each element squared. Output is [4, 9, 16, etc...]

In [129]:
numbers_squared = [number**2 for number in numbers]
numbers_squared

[4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 169,
 289,
 361,
 529,
 65536,
 64,
 16,
 4,
 25,
 81,
 196]

Exercise 16 - Make a variable named odd_negative_numbers that contains only the numbers that are both odd and negative.

In [132]:
odd_negative_numbers = [number for number in numbers if number < 0 and number % 2 == 1]
odd_negative_numbers

[-9]

Exercise 17 - Make a variable named numbers_plus_5. In it, return a list containing each number plus five.

In [133]:
numbers_plus_5 = [number + 5 for number in numbers]
numbers_plus_5

[7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 18,
 22,
 24,
 28,
 261,
 -3,
 1,
 3,
 10,
 -4,
 -9]

BONUS Make a variable named "primes" that is a list containing the prime numbers in the numbers list. *Hint* you may want to make or find a helper function that determines if a given number is prime or not.

In [285]:
def is_prime(num):
    prime_check = False
    if num > 1:
        for i in range(2, num):
            if (num % i) == 0:
                prime_check = False
                break
        else:
            prime_check = True
    return prime_check

In [286]:
primes = [number for number in numbers if is_prime(number)]
primes

[2, 3, 5, 7, 11, 13, 17, 19, 23, 5]

In [2]:
students = [
    {
        "id": "100001",
        "student": "Ada Lovelace",
        "coffee_preference": "light",
        "course": "web development",
        "grades": [70, 91, 82, 71],
        "pets": [{"species": "horse", "age": 8}],
    },
    {
        "id": "100002",
        "student": "Thomas Bayes",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [75, 73, 86, 100],
        "pets": [],
    },
    {
        "id": "100003",
        "student": "Marie Curie",
        "coffee_preference": "light",
        "course": "web development",
        "grades": [70, 89, 69, 65],
        "pets": [{"species": "cat", "age": 0}],
    },
    {
        "id": "100004",
        "student": "Grace Hopper",
        "coffee_preference": "dark",
        "course": "data science",
        "grades": [73, 66, 83, 92],
        "pets": [{"species": "dog", "age": 4}, {"species": "cat", "age": 4}],
    },
    {
        "id": "100005",
        "student": "Alan Turing",
        "coffee_preference": "dark",
        "course": "web development",
        "grades": [78, 98, 85, 65],
        "pets": [
            {"species": "horse", "age": 6},
            {"species": "horse", "age": 7},
            {"species": "dog", "age": 5},
        ],
    },
    {
        "id": "100006",
        "student": "Rosalind Franklin",
        "coffee_preference": "dark",
        "course": "data science",
        "grades": [76, 70, 96, 81],
        "pets": [],
    },
    {
        "id": "100007",
        "student": "Elizabeth Blackwell",
        "coffee_preference": "dark",
        "course": "web development",
        "grades": [69, 94, 89, 86],
        "pets": [{"species": "cat", "age": 10}],
    },
    {
        "id": "100008",
        "student": "Rene Descartes",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [87, 79, 90, 99],
        "pets": [{"species": "cat", "age": 10}, {"species": "cat", "age": 8}],
    },
    {
        "id": "100009",
        "student": "Ahmed Zewail",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [74, 99, 93, 89],
        "pets": [{"species": "cat", "age": 0}, {"species": "cat", "age": 0}],
    },
    {
        "id": "100010",
        "student": "Chien-Shiung Wu",
        "coffee_preference": "medium",
        "course": "web development",
        "grades": [82, 92, 91, 65],
        "pets": [{"species": "cat", "age": 8}],
    },
    {
        "id": "100011",
        "student": "William Sanford Nye",
        "coffee_preference": "dark",
        "course": "data science",
        "grades": [70, 92, 65, 99],
        "pets": [{"species": "cat", "age": 8}, {"species": "cat", "age": 5}],
    },
    {
        "id": "100012",
        "student": "Carl Sagan",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [100, 86, 91, 87],
        "pets": [{"species": "cat", "age": 10}],
    },
    {
        "id": "100013",
        "student": "Jane Goodall",
        "coffee_preference": "light",
        "course": "web development",
        "grades": [80, 70, 68, 98],
        "pets": [{"species": "horse", "age": 4}],
    },
    {
        "id": "100014",
        "student": "Richard Feynman",
        "coffee_preference": "medium",
        "course": "web development",
        "grades": [73, 99, 86, 98],
        "pets": [{"species": "dog", "age": 6}],
    },
]

How many students are there?

In [174]:
len(students)

14

How many students prefer light coffee? For each type of coffee roast?

In [3]:
def c_pref(roast):
    count = 0
    for student in students:
        if roast == student['coffee_preference']:
            count = count + 1
    print(f"{roast}: {count}")
c_pref('light')
c_pref('medium')
c_pref('dark')

light: 3
medium: 6
dark: 5

How many types of each pet are there?

In [253]:
pet_set = set()
for student in students:
    for items in student['pets']:
        pet_set.add(items['species'])
len(pet_set)

3

How many grades does each student have? Do they all have the same number of grades?

In [294]:
student_count = 0
for student in students:
    count = 0
    student_count = student_count + 1
    for grade in student['grades']:
        count = count + 1
    print(f"Student {str(student_count)} grades: {str(count)}")

Student 1 grades: 4
Student 2 grades: 4
Student 3 grades: 4
Student 4 grades: 4
Student 5 grades: 4
Student 6 grades: 4
Student 7 grades: 4
Student 8 grades: 4
Student 9 grades: 4
Student 10 grades: 4
Student 11 grades: 4
Student 12 grades: 4
Student 13 grades: 4
Student 14 grades: 4

What is each student's grade average?

In [293]:
student_count = 0
for student in students:
    grade_total = 0
    grade_count = 0
    student_count = student_count + 1
    for grade in student['grades']:
        grade_total = grade_total + grade
        grade_count = grade_count + 1
    grade_avg = grade_total / grade_count
    print(f"Student {str(student_count)} grade average: {str(grade_avg)}")

Student 1 grade average: 78.5
Student 2 grade average: 83.5
Student 3 grade average: 73.25
Student 4 grade average: 78.5
Student 5 grade average: 81.5
Student 6 grade average: 80.75
Student 7 grade average: 84.5
Student 8 grade average: 88.75
Student 9 grade average: 88.75
Student 10 grade average: 82.5
Student 11 grade average: 81.5
Student 12 grade average: 91.0
Student 13 grade average: 79.0
Student 14 grade average: 89.0

How many pets does each student have?

In [289]:
stu_count = 0
for student in students:
    pet_count = 0
    pet_count = pet_count + len(student['pets'])
    stu_count = stu_count + 1
    if pet_count == 1:
        print(f"Student {str(stu_count)} has: {str(pet_count)} pet")
    else:
        print(f"Student {str(stu_count)} has: {str(pet_count)} pets")

Student 1 has: 1 pet
Student 2 has: 0 pets
Student 3 has: 1 pet
Student 4 has: 2 pets
Student 5 has: 3 pets
Student 6 has: 0 pets
Student 7 has: 1 pet
Student 8 has: 2 pets
Student 9 has: 2 pets
Student 10 has: 1 pet
Student 11 has: 2 pets
Student 12 has: 1 pet
Student 13 has: 1 pet
Student 14 has: 1 pet

In [287]:
# if a number is prime, it only has 2 factors
# count will be 2 for prime numbers
def prime_number(number):
    num = [n for n in range(1,101)]
    count = 0
    for n in num:
        if number > 0:
            if number % n == 0:
                count = count + 1
    return count
# list comprehension filters out any numbers with more than two factors, aka non prime numbers
primes = [num for num in numbers if prime_number(num) == 2]
primes

[2, 3, 5, 7, 11, 13, 17, 19, 23, 5]